.contact-container{
  margin:10px 5px 10px 5px;
  max-height:520px;
  overflow: hidden;
  overflow-y:auto;
  position: relative;
}

.contact-container .ui.avatar.image{
  width: 40px;
  height:40px;
}

.contact-com-breadcrumbs{
  padding:0 10px 10px;
  margin-bottom: 10px;
}

.contact-com-breadcrumbs .list .item{
  font-size: 14px !important;
}

.contact-com-breadcrumbs a{
  text-decoration: none;
}

.contact-com-breadcrumbs .list .item:last-child{
  color:#999;
}

.contact-container>.header{
padding-left: 10px;
margin-bottom: -10px;
}
